// 全局整体样式
* {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC', '微软雅黑', 'Helvetica Neue', 'Hiragino Sans GB',
    'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #fff;
}

//表头样式
.wlm-table-header {
  height: 36px;
  padding: 0;
  font-weight: 500;
  color: #606266;
  font-size: 12px;
  text-align: center;
  border: 1px solid #fff;
}
// .el-table th,
// .el-table tr {
//   background-color: #eee;
// }
